@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-inter: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 231, 235;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 31, 41, 55;
    --accent-color: 59, 130, 246;
  }

  a {
    color: rgb(var(--accent-color));
    transition: color 0.3s;
  }

  a:hover {
    color: rgb(129, 140, 248);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-accent {
    color: rgb(var(--accent-color));
  }
}
